body{
    background-image: url(images/contactbg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.contact button{
    width: 30vh;
    height: 10vh;
    font-weight: 800;
    font-size: 20px;
}
.contact{
    border: 7px solid rgb(0, 0, 0);
    width: 31.8vh;
    height: 11.8vh;
    margin-top: 10vh;
    margin-left: 4vh;
    border-radius: 10px;
}

.page button{
    background-color: rgb(46, 184, 87);
    color: rgb(15, 73, 33);
    border: 7px solid rgb(0, 0, 0);
    width: 30vh;
    height: 10vh;
    margin-top: 15vh;
    margin-left: 5vh;
    font-size: 20px;
    font-weight: 700;
}
.page button:hover{
    scale:  1.2;
    transition: 0.5s;
    font-weight: 900;
}


.page1 button{
    background-color: rgb(46, 184, 87);
    color: rgb(15, 73, 33);
    border: 7px solid rgb(0, 0, 0);
    width: 30vh;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 20px;
    font-weight: 700;
}
.page1 button:hover{
    scale:  1.2;
    transition: 0.5s;
    font-weight: 900;
}

.page2 button{
    background-color: rgb(46, 184, 87);
    color: rgb(15, 73, 33);
    border: 7px solid rgb(0, 0, 0);
    width: 30vh;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 20px;
    font-weight: 700;
}
.page2 button:hover{
    scale:  1.2;
    transition: 0.5s;
    font-weight: 900;
}

.butto{
    background-color: rgb(57, 207, 127);
    width: 130vh;
    height: 80vh;
    margin-left: 65vh;
    margin-top: -68vh;
    border: 10px black solid;
    border-radius: 30px;
}

.phone img{
    width: 10vh;
    height: 10vh;
    margin-left: 23vh;
    margin-top: 10vh;
}
.phone h4{
    margin-left: 40vh;
    margin-top: -10vh;
    font-size: 26px;
    font-weight: 800;
    color: black;
}
.phone a{
    color: black;
    margin-left: 40vh;
    margin-top: -11vh;
    font-size: 23px;
}
.phone h5:hover{
    scale: 1.05;
    transition: 0.5s;
}
.phone a:hover{
    color: purple;
}

.mail img{
    width: 12vh;
    height: 14vh;
    margin-left: 23vh;
    margin-top: 1.8vh;
}
.mail h4{
    margin-left: 40vh;
    margin-top: -12vh;
    font-size: 26px;
    font-weight: 800;
    width: 50vh;
    color: black;
}
.mail a{
    color: black;
    margin-left: 40vh;
    margin-top: -11vh;
    font-size: 23px;
}
.mail h5:hover{
    scale: 1.1;
    transition: 0.5s;
}
.mail a:hover{
    color: purple;
}


.link img{
    width: 16vh;
    height: 16.5vh;
    margin-left: 21vh;
    margin-top: 2vh;
}
.link h4{
    margin-left: 40vh;
    margin-top: -13vh;
    font-size: 26px;
    font-weight: 800;
    width: 50vh;
    color: black;
}
.link a{
    color: black;
    margin-left: 40vh;
    margin-top: -11vh;
    font-size: 23px;
}
.link h5:hover{
    scale: 1.1;
    transition: 0.5s;
}
.link a:hover{
    color: purple;
}

.gh img{
    width: 13vh;
    height: 14vh;
    margin-left: 22.6vh;
    margin-top: 5vh;
}
.gh h4{
    margin-left: 40vh;
    margin-top: -12vh;
    font-size: 26px;
    font-weight: 800;
    width: 50vh;
    color: black;
}
.gh a{
    color: black;
    margin-left: 40vh;
    margin-top: -11vh;
    font-size: 23px;
}

.gh h5:hover{
    scale: 1.1;
    transition: 0.5s;
}
.gh a:hover{
    color: purple;
}

